[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "comp20010/reveal.js"]
	path = comp20010/reveal.js
	url = https://github.com/hakimel/reveal.js.git
