[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "comp20010/reveal.js"]
	path = comp20010/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "towers_of_hanoi/reveal.js"]
	path = towers_of_hanoi/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "comp20010_strassen/reveal.js"]
	path = comp20010_strassen/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "comp20010_biginteger/reveal.js"]
	path = comp20010_biginteger/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "comp20010_exercises/reveal.js"]
	path = comp20010_exercises/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "comp20010_karatsuba/reveal.js"]
	path = comp20010_karatsuba/reveal.js
	url = https://github.com/hakimel/reveal.js.git
